/*******************************************************************************
* Dapper - Default Theme
* 14/05/2015
* Frank Parent
*******************************************************************************/


@import "core/_variables";


/*******************************************************************************
/* BRAND VARIABLES
*******************************************************************************/
// 1. Images for the client's logo in the login page
// 2. Ful background image image in the login page
// 3. The background image for the top banner in the dashboard
$login_logo: "../images/logo-dapper.svg";
$login_bg: "../images/bg-admin.jpg";
$hero_bg: "../images/bg-admin.jpg";

// Default font used in the dashboard
$default-font: "Roboto", Helvetica, Arial, sans-serif;

// The background color for the header's bar on mobiles/tablets
$mobile_header_bg: #1f1f1f;

// Colors for the links and content
$link-color: #1f1f1f;
$text-color: #444;

// Brand colors used for the buttons, menus, notifications, etc.
$accent_color: #00d48c;
$accent_color2: darken($accent_color, 30%);
$accent_color3: darken($accent_color, 60%);
$accent_color4: lighten($accent_color, 20%);

// Alerts background color
$success_color: #00ffae;
$alert_color: #ffea00;


/*******************************************************************************
/* BUTTONS
*******************************************************************************/
@mixin button-primary {
    height: 28px !important;
    background: $accent_color;
    color: #fff;
    font-weight: 500;
    font-size: 12px;
    line-height: 28px !important;
    letter-spacing: 0.2px;
    text-transform: uppercase;
    text-shadow: none;
    padding: 0 18px;
    border: none;
    border-radius: 34px;
    box-shadow: none;
    outline: 0;

    &:hover,
    &:focus,
    &:active {
        background-color: $accent_color2 !important;
        color: #fff;
        box-shadow: none;
    }

    &:active,
    &.active,
    &.active:focus,
    &.active:hover {
        background-color: $accent_color3;
        box-shadow: none;
    }

    &[disabled],
    &:disabled,
    &.button-primary-disabled,
    &.disabled {
        color: #d1ccc7 !important;
        background-color: $accent_color3 !important;
        text-shadow: none !important;
    }
}

@mixin button-secondary {
    height: 28px !important;
    display: inline-block;
    background-color: #f7f7f7;
    color: #555;
    font-size: 13px;
    line-height: 26px !important;
    text-align: center;
    text-decoration: none;
    padding: 0 12px;
    border-color: #ccc;
    border-radius: 18px;
    margin: 0;
    box-shadow: none;
    vertical-align: top;
}

.wp-core-ui .button {
    @include button-secondary;

    &:active {
        box-shadow: none;
        transform: none;
    }
}

.wp-core-ui .button-primary {
    @include button-primary;

    &[name="publish"],
    &[name="publish"].disabled {
        background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='640' height='448' viewBox='0 0 640 448'><path d='M537.6,194.6A96.11,96.11,0,0,0,448,64a95.51,95.51,0,0,0-53.3,16.2A160,160,0,0,0,96,160c0,2.7.1,5.4,0.2,8.1A144,144,0,0,0,144,448H512A128,128,0,0,0,537.6,194.6ZM393.4,256H328V368a16,16,0,0,1-16,16H264a16,16,0,0,1-16-16V256H182.6a16,16,0,0,1-11.3-27.3L276.7,123.3a16.06,16.06,0,0,1,22.6,0L404.7,228.7c10.1,10.1,2.9,27.3-11.3,27.3h0Z' fill='%23fff'/></svg>") !important;
        background-size: auto 14px;
        background-position: 20px center;
        background-repeat: no-repeat;
        padding: 0 24px 0 50px !important;
    }

    &[name="save"],
    &[name="save"].disabled,
    &[name="wpcf7-save"],
    &[name="wpcf7-save"].disabled {
        background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='448' height='448' viewBox='0 0 448 448'><title>save</title><path d='M433.94,97.94L350.06,14.06A48,48,0,0,0,316.12,0H48A48,48,0,0,0,0,48V400a48,48,0,0,0,48,48H400a48,48,0,0,0,48-48V131.88a48,48,0,0,0-14.06-33.94h0ZM272,48v80H144V48H272ZM394,400H54a6,6,0,0,1-6-6V54a6,6,0,0,1,6-6H96V152a24,24,0,0,0,24,24H296a24,24,0,0,0,24-24V51.88l78.24,78.24a6,6,0,0,1,1.76,4.24V394a6,6,0,0,1-6,6h0ZM224,200a88,88,0,1,0,88,88A88.1,88.1,0,0,0,224,200Zm0,128a40,40,0,1,1,40-40A40,40,0,0,1,224,328Z' style='fill:%23fff'/></svg>") !important;
        background-size: auto 14px;
        background-position: 20px center;
        background-repeat: no-repeat;
        padding: 0 24px 0 44px !important;
    }

    &[name="update"],
    &[name="update"].disabled {
        background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='512.33' height='512' viewBox='0 0 512.33 512'><path d='M440.93,12.57l4,82.77A247.41,247.41,0,0,0,256,8C134.81,8,33.93,94.92,12.3,209.82A12,12,0,0,0,24.1,224H73.19a12,12,0,0,0,11.68-9.26A176.07,176.07,0,0,1,402.1,157.8l-101.53-4.87a12,12,0,0,0-12.57,12v47.41a12,12,0,0,0,12,12H500.33a12,12,0,0,0,12-12V12a12,12,0,0,0-12-12H452.92A12,12,0,0,0,440.93,12.57ZM256,432a175.74,175.74,0,0,1-146.11-77.8l101.87,4.87a12,12,0,0,0,12.57-12V299.67a12,12,0,0,0-12-12H12a12,12,0,0,0-12,12V500a12,12,0,0,0,12,12H59.38a12,12,0,0,0,12-12.6l-4.13-82.58A247.41,247.41,0,0,0,256,504c121.19,0,222.07-86.92,243.7-201.82A12,12,0,0,0,487.9,288H438.81a12,12,0,0,0-11.68,9.26A176,176,0,0,1,256,432Z' fill='%23fff'/></svg>") !important;
        background-size: auto 14px;
        background-position: 20px center;
        background-repeat: no-repeat;
        padding: 0 24px 0 44px !important;
    }

    &.button-hero,
    &.button-hero:active {
        box-shadow: none !important;
    }

    &.button-large {
        height: 36px !important;
        font-size: 14px;
        line-height: 36px !important;
        padding: 0 30px;
    }
}

.wp-core-ui .wp-ui-primary {
    color: #fff;
    background-color: $accent_color;
}

.wp-core-ui .wp-ui-text-primary {
    color: #59524c;
}

.wp-core-ui .wp-ui-highlight {
    color: #fff;
    background-color: $accent_color;
}

.wp-core-ui .wp-ui-text-highlight {
    color: $accent_color;
}

.wp-core-ui .wp-ui-notification {
    color: #fff;
    background-color: #9ea476;
}

.wp-core-ui .wp-ui-text-notification {
    color: #9ea476;
}

.wp-core-ui .wp-ui-text-icon {
    color: #f3f2f1;
}

// The "Add New" at the top of the posts pages
.wp-core-ui .wrap .page-title-action {
    @include button-primary;

    display: inline-block;
    margin-left: 20px;

    // Hide the <hr /> tag that comes after the action button in the post pages
    & + .wp-header-end {
        display: none;
    }
}


/*******************************************************************************
/* LOGIN
*******************************************************************************/
// Background image in the login screen
body.login {
    background-image: url($login_bg);
}

// Use the main logo in the login form
#login h1 a {
    background-image: url($login_logo) !important;
}


/*******************************************************************************
/* ADMIN DASHBOARD > BODY
*******************************************************************************/
// Background image for the body in the dashboard
body {
    background: #fff;
    font-family: $default-font !important;
}

// Top Banner with the background
body:before {
    background-image: url($hero_bg);
    background-position: center bottom;
}


/*******************************************************************************
/* HYPERLINKS
*******************************************************************************/
a {
    color: $accent_color2;

    &:hover,
    &:active,
    &:focus {
        color: $accent_color;
    }


    &:focus,
    &:focus .media-icon img,
    .wp-person &:focus .gravatar {
        color: $accent_color3;
        box-shadow: none;
    }
}


/*******************************************************************************
/* MEDIA LINKS
*******************************************************************************/
#media-upload a.del-link:hover,
div.dashboard-widget-submit input:hover,
.subsubsub a:hover,
.subsubsub a.current:hover {
    color: $accent_color;
}

#find-posts-close:focus {
    outline: none;
    box-shadow:
        0 0 0 1px #5b9dd9,
        0 0 2px 1px $accent_color;
}

// @ORIGINAL: wp-admin/_media.scss
.media-frame.mode-grid .attachment:focus,
.media-frame.mode-grid .selected.attachment:focus,
.media-frame.mode-grid .attachment.details:focus {
    box-shadow:
        inset 0 0 2px 3px #f1f1f1,
        inset 0 0 0 7px $accent_color;
    outline: none;
}

// @ORIGINAL: wp-includes/_media-views.scss
.media-frame input[type="text"]:focus,
.media-frame input[type="password"]:focus,
.media-frame input[type="number"]:focus,
.media-frame input[type="search"]:focus,
.media-frame input[type="email"]:focus,
.media-frame input[type="url"]:focus,
.media-frame textarea:focus,
.media-frame select:focus {
    border-color: $accent_color;
}

// @ORIGINAL: wp-includes/_media-views.scss
// The list/grid view option buttons in the top left corner of the Media Library
// allowing user to change the viewing mode
.media-frame a {
    color: $accent_color;

    &:focus {
        box-shadow: none;
        outline: none;
        color: $accent_color2;
    }
}


/*******************************************************************************
/* FORMS
*******************************************************************************/
input[type=checkbox]:checked:before {
    color: $accent_color;
}

input[type=radio]:checked:before {
    color: $accent_color;
}

.wp-core-ui input[type="reset"]:hover,
.wp-core-ui input[type="reset"]:active {
    color: $accent_color;
}

input[type="text"],
input[type="password"],
input[type="checkbox"],
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="search"],
input[type="radio"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="week"],
select,
textarea {
    min-height: 28px;
    padding: 0 10px;
    box-shadow: none !important;
    outline: 0;

    &:focus {
        border-color: #999;
        box-shadow: none;
    }
}

textarea {
    padding: 10px;
}

.wp-admin select {
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'><circle cx='20' cy='20' r='20' fill='%23dddddd'/><polygon points='20 23.46 15.5 16.54 24.5 16.54 20 23.46' fill='%2332373c'/></svg>") no-repeat;
    background-size: auto 100%;
    background-position: right center;
    background-repeat: no-repeat;
    overflow: hidden;
    appearance: none;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    padding-left: 10px;
    padding-right: 40px;
    border-radius: 14px;
    position: relative;

    @media #{$laptop-and-down} {
        height: 28px !important;
        font-size: 14px !important;
    }
}


/*******************************************************************************
/* LIST TABLES
*******************************************************************************/
.wrap .add-new-h2:hover,
.wrap .page-title-action:hover,
.tablenav .tablenav-pages a:hover,
.tablenav .tablenav-pages a:focus {
    color: #fff;
    background-color: #363b3f;
    border-color: #363b3f;
}

.view-switch a.current:before {
    color: #f1f2f3;
}

.view-switch a:hover:before {
    color: $accent_color4;
}


/*******************************************************************************
/* TITLES
*******************************************************************************/
.wrap > h1:first-child,
.wrap > h2:first-child {
    font-weight: 500;
    letter-spacing: -0.5px;
}


// Admin Menu
// -----------------------------------------------------------------------------

#adminmenu {
    background-color: #f6f6f6;
}

#adminmenu a {
    color: #fff;
}

#adminmenu li.menu-top {
    background-color: #f6f6f6;
    border-bottom: solid 1px #eee;
}

// The arrow down indicating that there are submenus
// Change it to a light color on hover of the top menus
#adminmenu li.wp-has-submenu.wp-not-current-submenu:after {
    color: $link-color;
}

#adminmenu li.wp-has-submenu.wp-not-current-submenu.opened:after,
#adminmenu li.wp-has-submenu.wp-not-current-submenu:hover:after {
    color: #fff;
}

#adminmenu li.menu-top > a {
    color: $text-color;
}

#adminmenu li.menu-top:hover > a {
    color: #fff;
}

#adminmenu li.menu-top:hover,
#adminmenu li.menu-top.opened {
    color: #fff;
    background-color: $link_color;
}

// WordPress dashicons before the menu in the left sidebar
#adminmenu div.wp-menu-image:before {
    color: $text-color;
}

#adminmenu a:hover,
#adminmenu li.opensub > a.menu-top,
#adminmenu li.menu-top.opened a,
#adminmenu li.menu-top.opened div.wp-menu-image:before {
    color: #fff;
}

/* Active tabs use a bottom border color that matches the page background color. */
.about-wrap h2 .nav-tab-active,
.nav-tab-active,
.nav-tab-active:hover {
    background-color: #f1f1f1;
    border-bottom-color: #f1f1f1;
}

#adminmenu li.menu-top .wp-submenu {
    background-color: #fff;

    a {
        color: #444;
    }

    a:hover {
        color: $accent_color;
    }

    .current a {
        color: $accent_color !important;
        font-weight: bold;
    }
}

// Admin Menu > Submenu
// -----------------------------------------------------------------------------
#adminmenu .wp-submenu,
#adminmenu .wp-has-current-submenu .wp-submenu,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu,
.folded #adminmenu .wp-has-current-submenu .wp-submenu,
#adminmenu a.wp-has-current-submenu:focus + .wp-submenu {
    background: #fff;
}

#adminmenu li.wp-has-submenu.wp-not-current-submenu.opensub:hover:after {
    border-right-color: $accent_color3;
}

#adminmenu .wp-submenu .wp-submenu-head {
    color: #cdcbc9;
}

#adminmenu .wp-submenu a,
#adminmenu .wp-has-current-submenu .wp-submenu a,
.folded #adminmenu .wp-has-current-submenu .wp-submenu a,
#adminmenu a.wp-has-current-submenu:focus + .wp-submenu a,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu a {
    color: #444;
}

#adminmenu .wp-submenu a:focus,
#adminmenu .wp-submenu a:hover,
#adminmenu .wp-has-current-submenu .wp-submenu a:focus,
#adminmenu .wp-has-current-submenu .wp-submenu a:hover,
.folded #adminmenu .wp-has-current-submenu .wp-submenu a:focus,
.folded #adminmenu .wp-has-current-submenu .wp-submenu a:hover,
#adminmenu a.wp-has-current-submenu:focus + .wp-submenu a:focus,
#adminmenu a.wp-has-current-submenu:focus + .wp-submenu a:hover,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu a:focus,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu a:hover {
    color: $accent_color;
}

/* Admin Menu: current */
#adminmenu .wp-submenu li.current a,
#adminmenu a.wp-has-current-submenu:focus + .wp-submenu li.current a,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu li.current a {
    color: #fff;
}

#adminmenu .wp-submenu li.current a:hover,
#adminmenu .wp-submenu li.current a:focus,
#adminmenu a.wp-has-current-submenu:focus + .wp-submenu li.current a:hover,
#adminmenu a.wp-has-current-submenu:focus + .wp-submenu li.current a:focus,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu li.current a:hover,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu li.current a:focus {
    color: $accent_color;
}

ul#adminmenu a.wp-has-current-submenu:after,
ul#adminmenu > li.current > a.current:after {
    border-right-color: #f1f1f1;
}

#adminmenu li.current a.menu-top,
#adminmenu li.wp-has-current-submenu a.wp-has-current-submenu,
#adminmenu li.wp-has-current-submenu .wp-submenu .wp-submenu-head,
.folded #adminmenu li.current.menu-top {
    color: #fff;
    background: $accent_color;
}

#adminmenu li.wp-has-current-submenu div.wp-menu-image:before,
#adminmenu a.current:hover div.wp-menu-image:before,
#adminmenu li.wp-has-current-submenu a:focus div.wp-menu-image:before,
#adminmenu li.wp-has-current-submenu.opensub div.wp-menu-image:before,
#adminmenu li:hover div.wp-menu-image:before,
#adminmenu li a:focus div.wp-menu-image:before,
#adminmenu li.opensub div.wp-menu-image:before,
.ie8 #adminmenu li.opensub div.wp-menu-image:before {
    color: #fff;
}


// Admin Bar > Bubble
// -----------------------------------------------------------------------------
#adminmenu .awaiting-mod,
#adminmenu .update-plugins {
    color: #fff;
    background: $accent_color;
}

#adminmenu li.current a .awaiting-mod,
#adminmenu li a.wp-has-current-submenu .update-plugins,
#adminmenu li:hover a .awaiting-mod,
#adminmenu li.menu-top:hover > a .update-plugins {
    color: #fff;
    background: $accent_color3;
}


// Admin Bar > Collapse Button
// -----------------------------------------------------------------------------
#collapse-button {
    color: #f3f2f1;
}

#collapse-button:hover,
#collapse-button:focus {
    color: $accent_color;
}


/*******************************************************************************
* ADMIN BAR
*******************************************************************************/
#wpadminbar {
    color: #fff;

    // Background color for the admin bar on mobile devices
    @media #{$laptop-and-down} {
        background-color: $mobile_header_bg;
    }
}

#wpadminbar .ab-empty-item,
#wpadminbar a.ab-item,
#wpadminbar > #wp-toolbar span.ab-label,
#wpadminbar > #wp-toolbar span.noticon {
    color: #fff;
}

// Styles for the top-level menu in the admin bar
#wpadminbar:not(.mobile) .ab-top-menu > li > .ab-item:focus,
#wpadminbar.nojq .quicklinks .ab-top-menu > li > .ab-item:focus,
#wpadminbar:not(.mobile) .ab-top-menu > li:hover > .ab-item,
#wpadminbar .ab-top-menu > li.hover > .ab-item {
    background-color: transparent;
    color: #fff;
}

#wpadminbar .ab-icon,
#wpadminbar .ab-icon:before,
#wpadminbar .ab-item:before,
#wpadminbar .ab-item:after {
    color: #f3f2f1;
}

#wpadminbar:not(.mobile) .ab-top-menu > li:hover > .ab-item,
#wpadminbar.nojs .ab-top-menu > li.menupop:hover > .ab-item,
#wpadminbar .ab-top-menu > li.menupop.hover > .ab-item {
    color: $accent_color;
}

#wpadminbar:not(.mobile) .ab-top-menu > li > .ab-item:hover,
#wpadminbar.nojq .quicklinks .ab-top-menu > li > .ab-item:hover,
#wpadminbar:not(.mobile) .ab-top-menu > li > .ab-item:focus,
#wpadminbar.nojq .quicklinks .ab-top-menu > li > .ab-item:focus {
    background-color: none;
}

#wpadminbar:not(.mobile) > #wp-toolbar li:hover span.ab-label,
#wpadminbar:not(.mobile) > #wp-toolbar li.hover span.ab-label,
#wpadminbar:not(.mobile) > #wp-toolbar a:focus span.ab-label {
    color: $accent_color;
}

#wpadminbar:not(.mobile) li:hover .ab-icon:before,
#wpadminbar:not(.mobile) li:hover .ab-item:before,
#wpadminbar:not(.mobile) li:hover .ab-label,
#wpadminbar:not(.mobile) li:hover .ab-item:after,
#wpadminbar:not(.mobile) li:hover #adminbarsearch:before,
#wpadminbar:not(.mobile) li:hover .ab-item,
#wpadminbar:not(.mobile) #wp-admin-bar-updates:hover .ab-item:after {
    color: $accent_color;
}

#wp-admin-bar-updates:hover .ab-label {
    color: #fff !important;
}

// Small notification bubbles for the plugin updates
#wp-admin-bar-updates .ab-label {
    background-color: $accent_color;
    color: #fff;
}


// Admin Bar > Submenu
// -----------------------------------------------------------------------------
#wpadminbar .menupop .ab-sub-wrapper {
    background: $accent_color3;
}

#wpadminbar .quicklinks .menupop ul.ab-sub-secondary,
#wpadminbar .quicklinks .menupop ul.ab-sub-secondary .ab-submenu {
    background: #656463;
}

#wpadminbar .ab-submenu .ab-item,
#wpadminbar .quicklinks .menupop ul li a,
#wpadminbar.nojs .quicklinks .menupop:hover ul li a {
    color: #cdcbc9;
}

#wpadminbar .quicklinks li .blavatar,
#wpadminbar .menupop .menupop > .ab-item:before {
    color: #f3f2f1;
}

#wpadminbar .quicklinks .menupop ul li a:hover,
#wpadminbar .quicklinks .menupop ul li a:focus,
#wpadminbar .quicklinks .menupop ul li a:hover strong,
#wpadminbar .quicklinks .menupop ul li a:focus strong,
#wpadminbar .quicklinks .menupop.hover ul li a:hover,
#wpadminbar .quicklinks .menupop.hover ul li a:focus,
#wpadminbar.nojs .quicklinks .menupop:hover ul li a:hover,
#wpadminbar.nojs .quicklinks .menupop:hover ul li a:focus,
#wpadminbar li:hover .ab-icon:before,
#wpadminbar li:hover .ab-item:before,
#wpadminbar li a:focus .ab-icon:before,
#wpadminbar li .ab-item:focus:before,
#wpadminbar li .ab-item:focus .ab-icon:before,
#wpadminbar li.hover .ab-icon:before,
#wpadminbar li.hover .ab-item:before,
#wpadminbar li:hover #adminbarsearch:before,
#wpadminbar li #adminbarsearch.adminbar-focused:before {
    color: $accent_color;
}

#wpadminbar .quicklinks li a:hover .blavatar,
#wpadminbar .quicklinks li a:focus .blavatar,
#wpadminbar .quicklinks .ab-sub-wrapper .menupop.hover > a .blavatar,
#wpadminbar .menupop .menupop > .ab-item:hover:before,
#wpadminbar.mobile .quicklinks .ab-icon:before,
#wpadminbar.mobile .quicklinks .ab-item:before {
    color: $accent_color;
}

#wpadminbar.mobile .quicklinks .hover .ab-icon:before,
#wpadminbar.mobile .quicklinks .hover .ab-item:before {
    color: #f3f2f1;
}


// Admin Bar > Search
// -----------------------------------------------------------------------------
#wpadminbar #adminbarsearch:before {
    color: #f3f2f1;
}

/*
@TODO: Too many selector on this element. Need to trim it down
#wpadminbar > #wp-toolbar > #wp-admin-bar-top-secondary > #wp-admin-bar-search #adminbarsearch input.adminbar-input:focus {
    color: #fff;
    background: #6c645c;
}
*/


// Admin Bar > My Account
// -----------------------------------------------------------------------------
#wpadminbar .quicklinks li#wp-admin-bar-my-account.with-avatar > a img {
    border-color: #6c645c;
    background-color: #6c645c;
}

#wpadminbar #wp-admin-bar-user-info .display-name {
    color: #fff;
}

#wpadminbar #wp-admin-bar-user-info a:hover .display-name {
    color: $accent_color;
}

#wpadminbar #wp-admin-bar-user-info .username {
    color: #cdcbc9;
}


// Pointer
// -----------------------------------------------------------------------------
.wp-pointer .wp-pointer-content h3 {
    background-color: $accent_color;
    border-color: #bf9878;
}

.wp-pointer .wp-pointer-content h3:before {
    color: $accent_color;
}

.wp-pointer.wp-pointer-top .wp-pointer-arrow,
.wp-pointer.wp-pointer-top .wp-pointer-arrow-inner,
.wp-pointer.wp-pointer-undefined .wp-pointer-arrow,
.wp-pointer.wp-pointer-undefined .wp-pointer-arrow-inner {
    border-bottom-color: $accent_color;
}

/* Media */
.media-item .bar,
.media-progress-bar div {
    background-color: $accent_color;
}

.details.attachment {
    box-shadow: inset 0 0 0 3px #fff, inset 0 0 0 7px $accent_color;
}

.attachment.details .check {
    background-color: $accent_color;
    box-shadow: 0 0 0 1px #fff, 0 0 0 2px $accent_color;
}

.media-selection .attachment.selection.details .thumbnail {
    box-shadow: 0 0 0 1px #fff, 0 0 0 3px $accent_color;
}


// Themes
// -----------------------------------------------------------------------------
.theme-browser .theme.active .theme-name,
.theme-browser .theme.add-new-theme a:hover:after,
.theme-browser .theme.add-new-theme a:focus:after {
    background: $accent_color;
}

.theme-browser .theme.add-new-theme a:hover span:after,
.theme-browser .theme.add-new-theme a:focus span:after {
    color: $accent_color;
}

.theme-section.current,
.theme-filter.current {
    border-bottom-color: #59524c;
}

body.more-filters-opened .more-filters {
    color: #fff;
    background-color: #59524c;
}

body.more-filters-opened .more-filters:before {
    color: #fff;
}

body.more-filters-opened .more-filters:hover,
body.more-filters-opened .more-filters:focus {
    background-color: $accent_color;
    color: #fff;
}

body.more-filters-opened .more-filters:hover:before,
body.more-filters-opened .more-filters:focus:before {
    color: #fff;
}


// Content Wrapper
// <wpbody-content>
// The main container with the page's content
// -----------------------------------------------------------------------------
body:not(.wp-customizer):not(.vc_editor) #wpbody-content {
    background-color: #fff !important;
}


// Widgets
// -----------------------------------------------------------------------------
.widgets-chooser li.widgets-chooser-selected {
    background-color: $accent_color;
    color: #fff;
}

.widgets-chooser li.widgets-chooser-selected:before,
.widgets-chooser li.widgets-chooser-selected:focus:before {
    color: #fff;
}


// Responsive Content
// -----------------------------------------------------------------------------
div#wp-responsive-toggle a:before {
    color: #f3f2f1;
}

.wp-responsive-open div#wp-responsive-toggle a {
    border-color: transparent;
    background: $accent_color;
}

.wp-responsive-open #wpadminbar #wp-admin-bar-menu-toggle a {
    background: $accent_color3;
}

.wp-responsive-open #wpadminbar #wp-admin-bar-menu-toggle .ab-icon:before {
    color: #f3f2f1;
}


// TinyMCE
// -----------------------------------------------------------------------------
.mce-container.mce-menu .mce-menu-item:hover,
.mce-container.mce-menu .mce-menu-item.mce-selected,
.mce-container.mce-menu .mce-menu-item:focus,
.mce-container.mce-menu .mce-menu-item-normal.mce-active,
.mce-container.mce-menu .mce-menu-item-preview.mce-active {
    background: $accent_color;
}


// User Card
// -----------------------------------------------------------------------------
#user-card {
    .lnk-edit:hover,
    .lnk-logout:hover {
        color: $accent_color;
    }
}


// Screen Options
// -----------------------------------------------------------------------------
#screen-options-link-wrap,
#contextual-help-link-wrap {
    button:hover,
    button:hover:after {
        color: $accent_color !important;
    }
}


// Tag Cloud Links
// -----------------------------------------------------------------------------
.tagcloud-link.button-link {
    color: $link-color;
}

.tagchecklist .ntdelbutton .remove-tag-icon:before {
    color: $accent_color;
}


// Sortable Handle
// -----------------------------------------------------------------------------
.ui-sortable-handle {
    background-color: #f6f6f6;
}


// Wysiwyg
// -----------------------------------------------------------------------------
// Adjust the "Add media" button in the wysiwyg
.wp-editor-tools {
    .wp-media-buttons .button {
        height: 36px !important;
        padding: 0 18px 0 14px;
    }
}


/*******************************************************************************
/* ALERTS & NOTIFICATION
*******************************************************************************/
#message.update-nag,
.error.update-nag,
.updated.update-nag,
.update-nag.update-nag,
.below-h2.update-nag,
.updated.below-h2.update-nag,
.error.below-h2.update-nag {
    background-color: $alert_color;
    border-left-width: 6px;
    border-color: darken($alert_color, 10%);
    padding: 12px 24px 12px 40px !important;
    box-shadow: none;

    &:before {
        content: "\f463";
        font-family: dashicons, sans-serif;
        font-size: 24px;
        position: absolute;
        top: 50%;
        left: 10px;
        transform: translateY(-50%);
    }
}

#message.updated {
    background-color: $success_color;
    border-color: darken($success_color, 10%);
}

.notice-warning {
    background-color: $alert_color;
    border-left-width: 6px;
    border-color: darken($alert_color, 10%);
}

.notice.updated {
    background-color: $success_color;
    border-color: darken($success_color, 10%);
}


// PLUGINS > CONTACT FORM 7
// Also include the "Add New" from Contact Form 7
// -----------------------------------------------------------------------------
.wrap .add-new-h2 {
    @include button-primary;

    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='496' height='496' viewBox='0 0 496 496'><path d='M248,0C111,0,0,111,0,248S111,496,248,496,496,385,496,248,385,0,248,0ZM392,276a12,12,0,0,1-12,12H288v92a12,12,0,0,1-12,12H220a12,12,0,0,1-12-12V288H116a12,12,0,0,1-12-12V220a12,12,0,0,1,12-12h92V116a12,12,0,0,1,12-12h56a12,12,0,0,1,12,12v92h92a12,12,0,0,1,12,12v56Z' fill='%23fff'/></svg>") !important;
    background-repeat: no-repeat !important;
    background-size: 14px 14px !important;
    background-position: 20px center !important;
    padding: 0 24px 0 42px !important;
    position: absolute;
    top: 20px;
    right: 0;
}
