//******************************************************************************
// BASIC CSS RESET
//******************************************************************************


* {
    //Shortcut to prevent from repeating the property on every item with a background-image
    background-repeat: no-repeat;

    // Ghetto reset for every elements; will keep the developer tools clean
    // and define a consistent foundation across browsers to build the site on.
    margin: 0;
    padding: 0;
}

// Apply a natural box layout model to all elements
// http://paulirish.com/2012/box-sizing-border-box-ftw
// https://css-tricks.com/international-box-sizing-awareness-day/
*,
*:before,
*:after {
    box-sizing: border-box;
}


// Media
// -----------------------------------------------------------------------------
// Remove the border on images inside links in IE 10-.
img {
    max-width: 100%;
    border: 0;
}
