/*******************************************************************************
* DAPPER
*******************************************************************************/


// User Card
// -----------------------------------------------------------------------------
#user-card {
    width: $menu_width !important;
    color: #fff;
    padding: 0 36px;
    position: absolute;
    left: 0;
    top: 150px;
    z-index: 10;

    @media #{$laptop-and-down} {
        display: none;
    }

    .user-card-avatar {
        width: 64px;
        height: 64px;
        display: block;
        overflow: hidden;
        border-radius: 50%;
        margin-bottom: 14px;
    }

    .user-card-name {
        display: block;
        color: #fff;
        font-size: 12px;
        line-height: 14px;
        text-decoration: none;
        margin-bottom: 6px;
    }

    .lnk-edit,
    .lnk-logout {
        display: inline-block;
        color: #fff;
        font-size: 11px;
        line-height: 14px;
        margin-bottom: 6px;
    }

    .lnk-edit:after {
        content: "|";
        display: inline-block;
        color: #fff;
        padding-left: 9px;
        margin-right: 6px;
    }
}
