//******************************************************************************
// GLOBAL VARIABLES & MIXINS
// Regroup every variable definition in here.
//******************************************************************************


// Sidebar Menu
// -----------------------------------------------------------------------------
$menu_width: 280px;


// Grid columns
// Set the number of columns and specify the width of the gutters.
// -----------------------------------------------------------------------------

// Grid breakpoints
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.
$grid-breakpoints: (
    xs: 0,
    sm: 600px,
    md: 782px,
    lg: 1024px,
    xl: 1224px
) !default;

// Grid containers
// Define the maximum width of `.container` for different screen sizes.
$container-max-widths: (
    sm: 600px,
    md: 782px,
    lg: 900px,
    xl: 1140px
) !default;


// Media Query Ranges
// -----------------------------------------------------------------------------
$small-screen:      #{map-get($grid-breakpoints, sm)} !default;
$medium-screen:     #{map-get($grid-breakpoints, md)} !default;
$large-screen:      #{map-get($grid-breakpoints, lg)} !default;
$xlarge-screen:     #{map-get($grid-breakpoints, xl)} !default;

$medium-and-up: "only screen and (min-width : #{$small-screen})" !default;
$large-and-up: "only screen and (min-width : #{$medium-screen})" !default;

$laptop-and-down: "only screen and (max-width : #{$xlarge-screen})" !default;
$medium-and-down: "only screen and (max-width : #{$medium-screen})" !default;
$small-and-down: "only screen and (max-width : #{$medium-screen})" !default;

$medium-only: "only screen and (min-width : #{$small-screen} + 1) and (max-width : #{$medium-screen})" !default;
$laptop-only: "only screen and (min-width : #{$medium-screen} + 1) and (max-width : #{$xlarge-screen})" !default;

$small-landscape: "only screen and (min-width : 480px) and (max-width : #{$medium-screen} - 1)" !default;


// Helper Mixins
// -----------------------------------------------------------------------------
@mixin clearfix {
    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }
}
